#services{
    background-image:url(photographerWebsite/images/services.jpg);

}

#services-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width:100%;
    height:100%;
    overflow:hidden;
}

#services-container > div{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    font-size: 0.5rem;
}

#services-section-container1{
    grid-row: span 2;
    width:70%;
    transform:translateX(-100%);
    opacity:0;
}

#services-section-container2{
    transform:translateY(-100%);
    opacity:0;
}

#services-container div:nth-child(2) p{
    letter-spacing:0.4rem;
}

#services-section-container3{
    grid-row:span 2;
    transform:translateX(100%);
    opacity:0;
 
}

#services-section-container4{
    transform:translateY(100%);
    opacity:0;
    width:70%;
}

/* media queries */

@media (max-width: 1122px){
    #services-container div div p{
        padding:0;
    }
}

@media (max-width: 885px){
    #services-container div:nth-child(2){
        display:flex;
        align-items:center;
        justify-content:center;
    }
}
@media(max-width: 792px){
    #services-container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    #services-container div{
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
    }

    #services-section-container1{
        grid-row: 2;
    }
    #services-section-container2{
        grid-row: 1;
    }
    #services-section-container3{
        grid-row:3;
    }
    #services-section-container4{
        grid-row: 4;
    }

    .servicesIcon{
        height: auto; 
        width: auto; 
        max-width: 20%; 
        max-height: 20%;
    }
}

@media(max-height: 500px) and (min-width:500px){


    #services{
        display:flex;
        align-items:center;
        justify-content:center;
    }

    #servicesMainContainer{
        height:80%;
    }
    #services-container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .servicesContainers div{
        width:80%;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
    }

    #services-section-container1{
        grid-row:2;
        grid-column:1;
        padding:0;
    }
    #services-section-container2{
        grid-row:1;
        grid-column:span 3;
    }

    #services-section-container3{
        grid-row:2;
        grid-column:2;
        padding:0;
    }

    #services-section-container4{
        grid-row:2;
        grid-column:3;
    }

    .servicesIcon{
        height: auto; 
        width: auto; 
        max-width: 30%; 
        max-height: 30%;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1112px)
  and (min-device-height: 1024px)
  and (max-device-width: 1366px) {

    #services-container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    #services-container div{
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        width:100%;
    }

    #services-container div p{
        width:70%;
    }

    #services-section-container1{
        grid-row: 2;
    }
    #services-section-container2{
        grid-row: 1;
    }
    #services-section-container3{
        grid-row:3;
    }
    #services-section-container4{
        grid-row: 4;
    }

    .servicesIcon{
        max-width: 40%; 
        max-height: 40%;
    }
}


@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1112px){
    .servicesIcon{
        max-width: 30%; 
        max-height: 30%;
    }
    #services-container div p{
        width:85%;
    }
}